{% block body %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-2 px-3 d-flex align-items-center justify-content-center">
    <img src="https://cdn.discordapp.com/attachments/1155877081566154792/1156597403089109082/Sans_titre-2.png?ex=65158cc5&is=65143b45&hm=0b8f5f8f4389bf13d16f3f20e1637b62b03b935a6486b40de31439eb0830d0d0&" 
        style="height: 20px;"
        class="me-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-start" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/challenge">Challenges</a>
        </li>
        {% if not app.user %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Profile</a>
          </li>
        {% endif %}
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
          {% if app.user %}
            <li class="nav-item"> 
              <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
          {% endif %}
      </ul>
    </div>
</nav>
{% endblock %}
